{% extends "base.html" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block header %}Последние обновления на сайте{% endblock %}
{% block content %}
    <main>
        <!-- класс py-5 создает отступы сверху и снизу блока -->
        <form class="container py-5">
            <h1 align="center">Главная страница</h1>
            {% if request.user.is_authenticated %}
                <br>
                <h3 align="center">Добро пожаловать {{ request.user.username }}</h3>
                <div class="d-grid gap-2 col-4 mx-auto">
                    <a class="btn btn-primary" href="{% url 'users:logout' %}" role="button">Выйти</a>
                    <a class="btn btn-primary" href="{% url 'users:password_change' %}" role="button">Сменить
                        пароль?</a>
                </div>
            {% else %}
                <div class="d-grid gap-2 col-4 mx-auto">
                    <a class="btn btn-primary" href="{% url 'users:login' %}" role="button">Войти</a>
                    <a class="btn btn-primary" href="{% url 'users:signup' %}" role="button">Зарегистрироваться</a>
                    <a class="btn btn-primary" href="{% url 'users:password_reset_from' %}" role="button">Забыли
                        пароль?</a>
                </div>
            {% endif %}
     </main>
{% endblock %}